.ContactData {
    margin:20px auto;
    width:80%;
    text-align: center;
    box-shadow:  0px 1px 10px #7b7878;
    padding: 10px;
    box-sizing: border-box;
}


.ContactData form input {
    display: block;
    text-align: center;
    float: none;
    margin: auto;
}

@media (min-width:600px){
    .ContactData {
        width:500px;
    }

}